<ion-content fullscreen="true">

  <section class="configMsg" *ngIf="configMsg">
    <ion-label ion-text>Créons maintenant votre profil</ion-label>

    <ion-button (click)="showOptions()">D'accord</ion-button>
  </section>
    <form [formGroup]="optionForm" (ngSubmit)="addProfile(optionForm)" novalidate *ngIf="!configMsg && !showOptionTwo && !showOptionThree && !showLastStep">
      <ion-list>
        <ion-radio-group formControlName="sexe">
          <ion-item>
            <ion-label color="medium">Vous êtes ?</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Un homme</ion-label>
            <ion-radio value="homme"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Une femme</ion-label>
            <ion-radio value="femme">Femme</ion-radio>
          </ion-item>
        </ion-radio-group>





        <ion-row>
          <ion-col class="submitCol">
            <ion-button tcolor="primary" expand="block" class="submitBtn"
              [disabled]="optionForm.controls.sexe.invalid" (click)="optionTwo()">suivant</ion-button>
          </ion-col>
        </ion-row>
      </ion-list>

    </form>


    <form [formGroup]="optionForm" (ngSubmit)="addProfile(optionForm)" novalidate *ngIf="!configMsg && showOptionTwo && !showOptionThree">
      <ion-list>
          <ion-item>
            <ion-label color="medium">Quel âge avez-vous ?</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Votre âge</ion-label>
            <ion-input type="number" formControlName="age"></ion-input>
          </ion-item>

        <ion-row>
          <ion-col class="submitCol">
            <ion-button tcolor="primary" expand="block" class="submitBtn"
              [disabled]="optionForm.controls.age.invalid" (click)="optionThree()">suivant</ion-button>
          </ion-col>
        </ion-row>
      </ion-list>

    </form>


    <form [formGroup]="optionForm" (ngSubmit)="addProfile(optionForm)" novalidate *ngIf="!configMsg && !showOptionTwo && showOptionThree">
      <ion-list>
        <ion-radio-group formControlName="diabetes">
          <ion-item>
            <ion-label color="medium">Souffrez-vous de diabète ?</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Oui</ion-label>
            <ion-radio value="yes"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Non</ion-label>
            <ion-radio value="no"></ion-radio>
          </ion-item>
        </ion-radio-group>





        <ion-row>
          <ion-col class="submitCol">
            <ion-button tcolor="primary" expand="block" class="submitBtn"
              [disabled]="optionForm.controls.diabetes.invalid" (click)="lastStep()">suivant</ion-button>
          </ion-col>
        </ion-row>
      </ion-list>

    </form>

    <form [formGroup]="optionForm" (ngSubmit)="addProfile(optionForm)" novalidate *ngIf="!configMsg && !showOptionTwo && !showOptionThree && showLastStep">
      <ion-list>
        <ion-item>
          <ion-label color="medium">
            Comment vous appelez-vous ?
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-input formControlName="name" placeholder="Ex. Jean Kasongo"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col class="submitCol">
            <ion-button tcolor="primary" expand="block" class="submitBtn"
              [disabled]="optionForm.controls.name.invalid" type="submit">Enregistrer</ion-button>
          </ion-col>
        </ion-row>
      </ion-list>

    </form>

</ion-content>