@import '../../mixins';
.configMsg{
    @include flex-center;
     ion-button{
        margin-top: 50px;
     }
}

ion-list, form{
   width: 100%;
   @include flex-center;
   ion-button{
      margin-top: 50px;
   }
}