<ion-content fullscreen="true">
  <section class="inscriptionForm">
    <form>
      <ion-item lines="full">
        <ion-label position="floating">Nom</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Age</ion-label>
        <ion-input type="number" required></ion-input>
      </ion-item>
      <!-- Radio buttons -->
      <ion-radio-group lines="full">
        <ion-list-header>
          <ion-label>Sexe</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Homme</ion-label>
          <ion-radio slot="start" value="male" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Femme</ion-label>
          <ion-radio slot="start" value="female"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </section>
  
</ion-content>