@media (prefers-color-scheme: light) {
    ion-content{
        --background: #f4f5f8 !important;
    }
   
    .googleBtn{
        background-color: white !important;
        box-shadow: 1px white;
        filter: drop-shadow(0 0 0.75rem white);

        
    }
  }

.inscriptionForm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form{
        width: 80%;
    }
}
.alternateSignUp{
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
    justify-content: center;
}
.submitCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submitBtn{
    width: 9em;
   

}
.googleBtn{
    padding: 8px 10px;
    width: 14em;
    border-radius: 10px;
    background-color: #f4f5f8;
    color: #92949c;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4px;
    box-shadow: 1px #f4f5f8;
    filter: drop-shadow(0 0 0.015rem #f4f5f8);

}
.googleIcon{
    font-size: 1.18rem;
}

ion-item{
    border-radius: 15px;
    margin: 10px;

}
