<ion-content fullscreen="true">
  <section class="inscriptionForm">
    <form [formGroup]="inscriptionForm" (ngSubmit)="newUser(inscriptionForm.value)" novalidate>
      <ion-item lines="full">
        <ion-label position="floating" color="medium">Email</ion-label>
        <ion-input type="email" required formControlName="email" class="custumInput" autocomplete="off"
          required=""></ion-input>
        <ion-note slot="error" *ngIf="inscriptionForm.dirty">Cette adresse n'est pas valide</ion-note>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" color="medium">Mot de passe</ion-label>
        <ion-input type="password" required formControlName="password" class="custumInput"></ion-input>
        <ion-note slot="helper">8 charactères au minimum</ion-note>
        <ion-note slot="error" 
        *ngIf="inscriptionForm.controls.password.touched || 
        inscriptionForm.controls.password.dirty
      && inscriptionForm.controls.password.invalid">8 charactères au minimum</ion-note>
      </ion-item>




      <ion-row>
        <ion-col class="submitCol">
          <ion-button type="submit" color="primary" expand="block" class="submitBtn"
            [disabled]="inscriptionForm.invalid">suivant</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <hr>
    <ion-row class="alternateSignUp">
      <ion-label color="medium">Inscrivez-vous avec: </ion-label>
      <hr>
      <ion-col>
        <button class="googleBtn" color="medium" (click)="signUpWithGoogle()">
          <i>
            <ion-icon src="../../../assets/icon/google.svg" class="googleIcon"></ion-icon>
          </i>
          s'inscrire avec google
        </button>
      </ion-col>


    </ion-row>
  </section>

</ion-content>