<app-water [numberOfCups]="numCup" [totalOfCups]="cupGoal" />


<section class="stats-container">
  <ion-card color="danger">
    <ion-card-content class="water-stats-menu">
      <h3 ion-text style="font-size: large;">
        {{currentUser.numberOfCup}}/{{cupGoal}}
      </h3>
    </ion-card-content>
  </ion-card>

  <ion-card #plusCup color="secondary ion-activable" (click)="addCup(plusCup)">
    <ion-card-content class="water-stats-menu">
      <div class="ripple">
        <ion-icon name="water-outline"></ion-icon><br>
       
      </div>
      <div class="menu-label-container">
        <p class="menu-label" ion-text>+1 verre</p>
      </div>

    </ion-card-content>
  </ion-card>


  <ion-card color="success" style="color: white;">
    <ion-card-content class="water-stats-menu">
      <div class="ripple">
        <ion-icon name="restaurant-outline"></ion-icon><br>
      </div>
      <div class="menu-label-container">
        <p class="menu-label" ion-text>2256 calories</p>
      </div>

    </ion-card-content>
  </ion-card>
</section>
<app-chart/>