<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="water">
      <ion-icon name="water-outline" routerLinkActive="active"></ion-icon>
      <ion-label>Eau</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inscription">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Régime</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>