<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ng-container *ngIf="currentUser.numberOfCup/cupGoal >= 0">
      <app-water [numberOfCups]="currentUser.numberOfCup" [totalOfCups]="cupGoal" />
    </ng-container>
    


    <section class="stats-container">
      <ion-card color="danger">
        <ion-card-content class="water-stats-menu">
          <h3 ion-text style="font-size: large;">
            6/13
          </h3>
        </ion-card-content>
      </ion-card>

      <ion-card color="secondary">
        <ion-card-content class="water-stats-menu">
          <div class="ripple">
            <ion-icon name="water-outline"></ion-icon><br>
          </div>
          <div class="menu-label-container">
            <p class="menu-label" ion-text>+1 verre</p>
          </div>

        </ion-card-content>
      </ion-card>


      <ion-card color="success" style="color: white;">
        <ion-card-content class="water-stats-menu">
          <div class="ripple">
            <ion-icon name="restaurant-outline"></ion-icon><br>
          </div>
          <div class="menu-label-container">
            <p class="menu-label" ion-text>2256 calories</p>
          </div>
          
        </ion-card-content>
      </ion-card>
      <app-chart [data]="data"/>
    </section>

   
  </ion-content>


</div>