.home{
  display: flex;
  height: 100%;
  animation: colorChange 7s ease-in-out infinite both;

}




@keyframes colorChange {
  0%{
    background-color: #309563;
    color: #145c38;
  }

  50%{
    background-color: #EA7E4A;
  }

  100%{
    background-color: #0E393A;
  }
}