.primary-section {
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.animated-area{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-size: cover;
}
#animated-area {
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 10s ease-in-out infinite alternate-reverse;
}
.action{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 70vw;
    background-color: rgba(0, 0, 0, 0.284);
    border: 1px solid white;
    z-index: 3;
}


@keyframes animatedBackground {
    from {
       background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}