<ion-content [fullscreen]="true">

  <section class="primary-section"
    [ngClass]="{'primary-section-p1': page1, 'primary-section-p2': page2, 'primary-section-p3': page3}">

    <section [ngClass]="{'primary-section-body': page1, 'primary-section-body-p2': page2}">
      <h4 *ngIf="page1" class="h4-1">
        Controllez votre consomation d'eau <br>
        <i>{{appTitle}}</i> vous calcule la quantite d'eau dont vous avez besoin
      </h4>

      <h4 *ngIf="page2" class="h4-2">
        <em>
          Maintenez votre glycemie dans les normes
        </em>
        <br>
        <i>{{appTitle}}</i> vous rappellera quand mesurer votre glycemie
      </h4>
      <h4 *ngIf="page3" class="h4-3">
        <i>{{appTitle}}</i> enverra des rapports à votre médecin traitant afin que celui-ci suive de pres votre
        evolution
      </h4>
    </section>
    <section class="home-footer">
      <a routerLink="/inscription">
        <ion-icon name="arrow-forward-circle-sharp"></ion-icon>
      </a>

    </section>
  </section>

</ion-content>